extends ../layout

block content
    .container
        .row
            .col-12
                table.table.table-bordered
                    tr
                        th Placa
                        th Hora
                        th Fecha
                        th Estado
                    if registros
                        each reg in registros
                            tr
                                td #{reg.placa}
                                td #{reg.horaEntrada.getHours()}:#{reg.horaEntrada.getMinutes()}:#{reg.horaEntrada.getSeconds()}
                                td #{reg.horaEntrada.getFullYear()}-#{reg.horaEntrada.getMonth()}-#{reg.horaEntrada.getDate()}
                                td #{reg.estado === 0 ? 'Entrada' : 'Salida'}
                    else
                        tr
                            td No se encuentran registros